In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

WARNING:tensorflow:From c:\Users\luisj\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [12]:
df = pd.read_csv('datos_v2.csv', delimiter=';')
# df2 = pd.read_csv('datos.csv', delimiter=';')

In [11]:
# Unir los dos Dataframe del 20323 y 2024 
# ESTE PASO EL OPCIONAL Solo si cargan los datos df2
# columnasEnComun = ['Temperatura de módulo | Sensor Card / Box (1)','Irradiación | Sensor Card / Box (1)','Temperatura ambiente | Sensor Card / Box (1)','Fecha y hora']
# df = pd.concat([df[columnasEnComun], df2[columnasEnComun]])
# df

,Temperatura de módulo | Sensor Card / Box (1),Irradiación | Sensor Card / Box (1),Temperatura ambiente | Sensor Card / Box (1),Fecha y hora
0,"31,00","288,00","24,00",01.03.2024 15:45
1,"34,00","293,62","24,00",01.03.2024 15:50
2,"34,00","340,00","24,00",01.03.2024 15:55
3,"36,00","469,00","24,00",01.03.2024 16:00
4,"36,00","385,00","24,00",01.03.2024 16:05
...,...,...,...,...
57881,NaN,NaN,NaN,NaN
57882,NaN,NaN,NaN,NaN
57883,NaN,NaN,NaN,NaN
57884,NaN,NaN,NaN,NaN
57885,NaN,NaN,NaN,NaN

In [13]:
# Renombrar columnas
df.rename(columns={'Temperatura de módulo | Sensor Card / Box (1)': 'temperaturaSensor'}, inplace=True)
df.rename(columns={'Temperatura ambiente | Sensor Card / Box (1)': 'temperaturaAmbiente'}, inplace=True)
df.rename(columns={'Irradiación | Sensor Card / Box (1)': 'irradiacion'}, inplace=True)
df.rename(columns={'Fecha y hora': 'fecha'}, inplace=True)

# Quedarme con dos columnas de entrada y una de salida(irradiacion)
df = df[['fecha','temperaturaAmbiente','temperaturaSensor','irradiacion']]

# Eliminar los valores nulos
df.dropna(inplace=True)

df['irradiacion'] = df['irradiacion'].apply(lambda x: float(str(x).strip().replace(',','.')))

# Solo quedarme con los valores que hay irradiación (Día)
df = df[df['irradiacion'] > 0]
df

                  fecha temperaturaAmbiente temperaturaSensor  irradiacion
0      01.03.2024 15:45            24,00             31,00          288.00
1      01.03.2024 15:50            24,00             34,00          293.62
2      01.03.2024 15:55            24,00             34,00          340.00
3      01.03.2024 16:00            24,00             36,00          469.00
4      01.03.2024 16:05            24,00             36,00          385.00
...                 ...                 ...               ...          ...
12395  26.04.2024 09:20            23,00             33,00          302.00
12396  26.04.2024 09:30            23,00             34,00          303.00
12397  26.04.2024 09:40            23,00             32,99          264.03
12398  26.04.2024 09:50            23,00             32,00          268.00
12399  26.04.2024 10:00            23,00             32,00          311.00

[6259 rows x 4 columns]

In [14]:
# Transformar la fecha a datetime
df['fecha'] = pd.to_datetime(df['fecha'], format='%d.%m.%Y %H:%M')
df['hora'] = [i.hour for i in df['fecha']]
df['minuto'] = [i.minute for i in df['fecha']]
# Parsear las columnas temperaturas a float
df['temperaturaAmbiente'] = df['temperaturaAmbiente'].apply(lambda x: float(str(x).strip().replace(',','.')))
df['temperaturaSensor'] = df['temperaturaSensor'].apply(lambda x: float(str(x).strip().replace(',','.')))

### Separar los datos para Entrenamiento y TEST

In [15]:
X = df[['temperaturaAmbiente', 'hora', 'minuto']].values

# La radiación será nuestra variable de salida
y = df['irradiacion'].values

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Definir la arquitectura de la RNA
model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_shape=(3,)), #  variables de entrada
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(1)  # Capa de salida con una sola neurona para predecir la radiación
])

# Compilar el modelo
model.compile(optimizer='adam', loss='mean_squared_error')

# Entrenar el modelo
model.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2)

Epoch 1/50
126/126 [==============================] - 1s 3ms/step - loss: 137278.4688 - val_loss: 84005.0078
Epoch 2/50
126/126 [==============================] - 0s 2ms/step - loss: 72425.7969 - val_loss: 68455.7891
Epoch 3/50
126/126 [==============================] - 0s 2ms/step - loss: 61550.8945 - val_loss: 59846.5273
Epoch 4/50
126/126 [==============================] - 0s 2ms/step - loss: 55518.7734 - val_loss: 54441.0625
Epoch 5/50
126/126 [==============================] - 0s 2ms/step - loss: 51004.0312 - val_loss: 50445.2891
Epoch 6/50
126/126 [==============================] - 0s 2ms/step - loss: 47112.2422 - val_loss: 47167.0352
Epoch 7/50
126/126 [==============================] - 0s 2ms/step - loss: 44418.9570 - val_loss: 44867.4062
Epoch 8/50
126/126 [==============================] - 0s 2ms/step - loss: 42495.0664 - val_loss: 43529.1211
Epoch 9/50
126/126 [==============================] - 0s 2ms/step - loss: 40985.1719 - val_loss: 42070.9844
Epoch 10/50
126/126 [==============================] - 0s 2ms/step - loss: 39919.8594 - val_loss: 41361.2344
Epoch 11/50
126/126 [==============================] - 0s 2ms/step - loss: 39317.3438 - val_loss: 41031.4922
Epoch 12/50
126/126 [==============================] - 0s 2ms/step - loss: 38033.9648 - val_loss: 39609.4297
Epoch 13/50
126/126 [==============================] - 0s 2ms/step - loss: 37507.8086 - val_loss: 39171.0039
Epoch 14/50
126/126 [==============================] - 0s 2ms/step - loss: 36853.6914 - val_loss: 38665.2578
Epoch 15/50
126/126 [==============================] - 0s 2ms/step - loss: 36148.9688 - val_loss: 38159.1328
Epoch 16/50
126/126 [==============================] - 0s 2ms/step - loss: 35694.5977 - val_loss: 37586.3828
Epoch 17/50
126/126 [==============================] - 0s 2ms/step - loss: 35364.4883 - val_loss: 37567.9961
Epoch 18/50
126/126 [==============================] - 0s 2ms/step - loss: 34647.5977 - val_loss: 36642.7812
Epoch 19/50
126/126 [==============================] - 0s 2ms/step - loss: 34290.0781 - val_loss: 36333.3789
Epoch 20/50
126/126 [==============================] - 0s 2ms/step - loss: 33728.3086 - val_loss: 35892.2656
Epoch 21/50
126/126 [==============================] - 0s 3ms/step - loss: 33158.3867 - val_loss: 35855.6953
Epoch 22/50
126/126 [==============================] - 0s 2ms/step - loss: 32661.5508 - val_loss: 34971.3320
Epoch 23/50
126/126 [==============================] - 0s 2ms/step - loss: 32281.9609 - val_loss: 34280.9375
Epoch 24/50
126/126 [==============================] - 0s 2ms/step - loss: 31752.8848 - val_loss: 33700.8555
Epoch 25/50
126/126 [==============================] - 0s 2ms/step - loss: 31138.0547 - val_loss: 33751.9570
Epoch 26/50
126/126 [==============================] - 0s 2ms/step - loss: 30768.3730 - val_loss: 32766.0996
Epoch 27/50
126/126 [==============================] - 0s 2ms/step - loss: 29954.2168 - val_loss: 32074.4648
Epoch 28/50
126/126 [==============================] - 0s 2ms/step - loss: 29456.6855 - val_loss: 31563.6348
Epoch 29/50
126/126 [==============================] - 0s 2ms/step - loss: 28921.2832 - val_loss: 30450.7051
Epoch 30/50
126/126 [==============================] - 0s 2ms/step - loss: 28383.0840 - val_loss: 30183.6016
Epoch 31/50
126/126 [==============================] - 0s 2ms/step - loss: 27761.0840 - val_loss: 29977.7852
Epoch 32/50
126/126 [==============================] - 0s 2ms/step - loss: 27198.9531 - val_loss: 28609.8066
Epoch 33/50
126/126 [==============================] - 0s 2ms/step - loss: 26749.5371 - val_loss: 27757.1523
Epoch 34/50
126/126 [==============================] - 0s 2ms/step - loss: 26171.2676 - val_loss: 27286.8164
Epoch 35/50
126/126 [==============================] - 0s 2ms/step - loss: 25245.6035 - val_loss: 26484.0684
Epoch 36/50
126/126 [==============================] - 0s 2ms/step - loss: 24513.0879 - val_loss: 26150.5801
Epoch 37/50
126/126 [==============================] - 0s 2ms/step - loss: 24063.3477 - val_loss: 25290.8242
Epoch 38/50
126/126 [==============================] - 0s 2ms/step - loss: 23706.6465 - val_loss: 24639.7227
Epoch 39/50
126/126 [==============================] - 0s 2ms/step - loss: 23044.7500 - val_loss: 24165.9121
Epoch 40/50
126/126 [==============================] - 0s 2ms/step - loss: 22442.3906 - val_loss: 24155.3652
Epoch 41/50
126/126 [==============================] - 0s 2ms/step - loss: 21958.2617 - val_loss: 23196.3516
Epoch 42/50
126/126 [==============================] - 0s 2ms/step - loss: 21310.2793 - val_loss: 22069.4258
Epoch 43/50
126/126 [==============================] - 0s 2ms/step - loss: 20779.9395 - val_loss: 21626.3223
Epoch 44/50
126/126 [==============================] - 0s 2ms/step - loss: 20322.8145 - val_loss: 21751.6133
Epoch 45/50
126/126 [==============================] - 0s 2ms/step - loss: 19818.0977 - val_loss: 20471.5625
Epoch 46/50
126/126 [==============================] - 0s 2ms/step - loss: 19360.2539 - val_loss: 20473.1445
Epoch 47/50
126/126 [==============================] - 0s 2ms/step - loss: 19122.4434 - val_loss: 20787.4668
Epoch 48/50
126/126 [==============================] - 0s 2ms/step - loss: 18930.1387 - val_loss: 19808.7773
Epoch 49/50
126/126 [==============================] - 0s 2ms/step - loss: 18649.5527 - val_loss: 19568.4355
Epoch 50/50
126/126 [==============================] - 0s 2ms/step - loss: 18496.0273 - val_loss: 20749.4473

In [16]:
# Evaluar el modelo
loss = model.evaluate(X_test, y_test)
print("Loss en el conjunto de prueba:", loss)

40/40 [==============================] - 0s 2ms/step - loss: 20084.0703
Loss en el conjunto de prueba: 20084.0703125

In [17]:
from sklearn.metrics import mean_squared_error, r2_score
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Coeficiente de determinación (R²):", r2)

40/40 [==============================] - 0s 1ms/step
Coeficiente de determinación (R²): 0.7516623196755863

In [18]:
# Guardar modelo
model.save('modelo_rna_v3')

INFO:tensorflow:Assets written to: modelo_rna_v3\assets

INFO:tensorflow:Assets written to: modelo_rna_v3\assets

In [19]:
# Cargar modelo
from tensorflow.keras.models import load_model

# Cargar el modelo
modelo_cargado = load_model('modelo_rna_v3')

# Confirmación de que el modelo se ha cargado correctamente
print("Modelo cargado")
modelo_cargado.predict([[23,9,40]])

WARNING:tensorflow:From c:\Users\luisj\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\saving\legacy\saved_model\load.py:107: The name tf.gfile.Exists is deprecated. Please use tf.io.gfile.exists instead.

WARNING:tensorflow:From c:\Users\luisj\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\saving\legacy\saved_model\load.py:107: The name tf.gfile.Exists is deprecated. Please use tf.io.gfile.exists instead.

Modelo cargado
1/1 [==============================] - 0s 70ms/step

array([[451.38565]], dtype=float32)